body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #022839;
  color: white;
  padding: 10px 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
}

.menu a:hover {
  text-decoration: underline;
}

.carrusel {
  position: relative;
  width: 800px;
  height: 400px;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.carrusel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.caption {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  text-shadow: 1px 1px 4px black;
}

.carrusel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
}

.carrusel button:hover {
  background: rgba(0,0,0,0.8);
}

.carrusel button:first-of-type { left: 10px; }
.carrusel button:last-of-type { right: 10px; }

.bienvenida {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
}

.bienvenida h2 {
  font-size: 2rem;
  color: #333;
}

.bienvenida p {
  font-size: 1.2rem;
  color: #555;
}

body {
  background: radial-gradient(circle, #034476, #8ecfef);
  margin: 0;
  min-height: 100vh;
}

.links-container {
  text-align: center;
  margin: 20px 0;
}

.spotify-button {
  background: linear-gradient(to right, #1db954, #1ed760);
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s;
}

.spotify-button:hover {
  transform: scale(1.05);
}